html{
    font-size:12px !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 371px){
    html {font-size: 14px !important;}
  }
  @media only screen and (min-width: 401px){
      html {font-size: 15px !important;}
  }
  @media only screen and (min-width: 428px){
      html {font-size: 16px !important;}
  }
  @media only screen and (min-width: 481px){
      html {font-size: 16px !important;}
  }
  @media only screen and (min-width: 569px){
      html {font-size: 17px !important;}
  }
#index{
    background-image: url("../img/caibai/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div.myContainer{
    display: flex;
    margin: 0 auto;
    padding-top: 4rem;
}
.kuang{
    background-image: url(../img/caibai/kuang.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21.286rem;
    height: 35.214rem;
    margin: 0 auto;
    position: relative;
}
.absolute{
    position: absolute;
}
.shoushi{
    pointer-events: none;
    top: -1.5rem;
    right: -0.3rem;
    width: 5rem;
    z-index: 10;
}
.coupon{
    bottom: -4rem;
    left: -3rem;
}
.coupon img{
    pointer-events: none;
    width: 8.571rem;
    z-index: 10;
}
.tip{
    pointer-events: none;
    bottom: 5px;
    right: 6px;
    width: 8.107rem;
    z-index: 10;
}
.imgHolder{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 1.7rem;
}
.imgHolder img{
    width: 100%;
    height: 100%;
    z-index: 8;
}
img:not([src]){
    visibility: hidden;
}