html{
    font-size:4vw;
}
#index{
    background-image: url("../img/mark/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body .photoHolder{
    background: url("../img/mark/border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2.33rem 0px 0rem 0px;
    height:29.74594rem;
}
#coupon a:active img{
    box-shadow: 0 0 1rem green;
}
.photo>img{
    width: 100%;
    height: 100.5%;
}
.body .photoHolder .photo{
    margin: -0.50rem auto;
   /*** width: 16rem;**/
    /**height: 29.4rem;**/
    width: 96%;
    height: 100%;
}
/**注册页面**/
.register{
    width: 100%;
    padding: 0;
    margin: 0;
}
.register .register_head{
    background: url("../img/mark/bar.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 12.8rem;
    padding-top: 5rem;
    z-index:1000;
}
.register .register_body{
    background: white;
    width: 100%;
    height: 24.3rem;
    position: relative;
    padding-top: 3rem;
}
.register .register_footer{
    background: url("../img/mark/di.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.17rem;
}
.hidden_fileinput{
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.avatar_holder{
    width: 9.733rem;
    height:9.733rem;
    margin: 0 auto;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px #f5455d solid;
    overflow: hidden;
}
.avatar_holder a{
    width: 100%;
    height: 100%;
    display: inline-block;
    /* background: url('../img/mark/avatar_picker.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    border:2px solid white;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.avatar_holder a span{
    position: absolute;
    color: white;
    width: 6.2rem;
    font-size: 0.7rem;
    margin: 5rem auto;
    display: block;
    top: 0;
    z-index: 5;
    left: 1.6rem;
}
.avatar_holder a img{
    width: 100%;
    /* height: 100%; */
    display: inline-block;
    z-index: 2;
    position: absolute;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
}
.register_btn{
    background: url(../img/mark/btn1.png);
    background-size: 105% 153%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20rem;
    line-height: 3rem;
    outline: none;
    color: white;
    border-radius: 5rem;
    border:none;
    margin-top: 1.67rem;
    box-shadow: 0px 4px 3px 0px #eee6e6;
}
button.register_btn:active {
    box-shadow: 0rem 0rem 0rem 2px #eecca8;
}
.my-row{
    width: 100%;
}
.my-form-group{
    padding: 0.5rem;
}
.my-form-group.pt1{
    padding-top: 1rem;
}
.my-form-group .my-form-control{
    width: 100%;
    border: none;
    outline: none;
    line-height: 1.8rem;
    color: #ffa341;
    border-bottom: 1px solid #ffa341;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8a8a8a;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8a8a8a;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #8a8a8a;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
ul.state{
    padding: 0;
    font-size: 0.6rem;
    margin: 0;
    color: #8a8a8a;
    letter-spacing: 1px;
}
ul.state li{
    list-style: none;
    padding-bottom: 5px;
}

/**活动页面**/
body.grey_body{
    background: #eeecec;
}
.blue_font{
    color: #428eeb;
}
.activity{
    width: 100%;
    padding: 0;
    margin: 0;
}
.activity .activity_head{
    background: url("../img/mark/bar2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 12.8rem;
    padding-top: 6rem;
    z-index:1000;
}
.activity .activity_body{
    background: none;
    width: 100%;
    height: 24.3rem;
    position: relative;
    padding-top: 3rem;
}
.activity .activity_footer{
    background: url("../img/mark/di.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.17rem;
}
.activity_rule{
    width: 80%;
    height: 7.67rem;
    margin: 0 auto;
    background: white;
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
}
.activity_rule .state{
    font-size: 0.7rem;
    color: #103156;
}
.activity_rule ul.state li{
    padding-bottom: 7px;
}
.activity_btn{
    background: url(../img/mark/btn1.png);
    background-size: 105% 153%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20rem;
    line-height: 3rem;
    outline: none;
    color: white;
    border-radius: 5rem;
    border:none;
    margin-top: 1.67rem;
    box-shadow: 0px 4px 3px 0px #eee6e6;
}
.activity_body .activity_body_title{
    background: url(../img/mark/quan.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 2.66rem;
    text-align: center;
}
.activity_body_process{
    width: 100%;

}
.activity_body_process div.process{
    float: left;
    width: 30%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 12.1rem;
    background:#f5f5f5;
    text-align: center;
    position: relative;
}
div.hook{
    position: absolute;
    border-radius: 50%;
    width: 1.67rem;
    height: 1.67rem;
    background: #44d24a;
    text-align: center;
    right: 5px;
    top: 5px;
}
div.process div.hook{
    visibility: hidden;
}
div.process.complete div.hook{
    visibility: visible;
}
div.process.complete label{
    color: #10315f !important;
}
div.process div.hook img{
    width: 60%;
    height: 60%;
    margin: 20%;
}
div.process img{
    width: 6.67rem;
    height: 10rem;
}
div.process>img:nth-child(2){
    display: block;
}
div.process>img:nth-child(3){
    display: none;
}
div.process.complete>img:nth-child(2){
    display: none;
}
div.process.complete>img:nth-child(3){
    display: block;
}
div.process label{
    font-size: 0.6rem;
    color: #646464;
    font-family: serif;
    width: 66%;
    left: 17%;
    top:8rem;
    position: absolute;
}